/* Medium devices (tablets, less/equal than 1024px) */

@media (max-width: 1024px) {
    .search-third-container {
        flex-direction: column;        
        align-items: flex-start;
    }

    .third-container-content {
        margin-bottom: 20px;
    }

    .third-container-content p {
        margin: 0;
    }

    .button-span-text {
        font-size: 16px;
    }

    .filter-buttons {
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        align-content: flex-start;
        gap: 15px;
    }

    .filter-buttons button {
        margin-right: 0;
    }



    /*A MODIFIER CE QUI SUIT*/


    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
}

